<!-- <h2>Hello ganesh component</h2>
<div>{{message}}</div>
<!-- <div>{{person.fname}}  {{person.lname}}</div> -->
<!-- <div *ngFor="let prop of getKeeys(person)">
    <div>{{prop}}: {{person[prop]}}</div>
</div>
<div>{{helloworld().toUpperCase()}}</div> --> 

<!-- <div *ngFor="let obj of users">
    <div>{{obj.fname}}</div>
</div> -->
<button id="demo" type="button" (click)="showData()" >showData</button>
<form *ngIf="Userinfo">
    fname: <input type="text" name="fname" [(ngModel)]="Userinfo.fname" id="fname"><br>
    lname: <input type="text" name="lname" [(ngModel)]="Userinfo.lname" id="lname"><br>
    <button type="button" (click)="userUpdate()">Update</button> 
</form>

<nani-compon [recive]="msg" [obj]="person" [arr]="users" (updateObj)="reciveData($event)"></nani-compon>